svg {
    width: 3rem;
    height: auto;
}
.bg-color{
    background-color: #000000;
    color: white;
}
.linea{
    color: azure;
}
p{
    color: white;
}
.corregir{
    height: 9rem;
}
.tamanio{
    font-size: 2rem;
    color: white;
}
body{
    font-family: sans-serif;
}